<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<!-- Fichero de propiedades con datos de conexión DB -->
	<bean id="mappings" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
     	<property name="location" value="classpath:conexion.properties"/>
    </bean>
     
     <!-- DataSouce con datos de conexión del fichero de propiedades -->
    <bean id="miDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" lazy-init="true">
     	<property name="driverClassName" value="${driver}"/>
     	<property name="url" value="${url}"/>
     	<property name="username" value="${user}"/>
     	<property name="password" value="${pw}"/>
    </bean>
    
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="miDataSource" />

		<property name="mappingResources">
			<list>
				<value>app/mapeos/Autor.hbm.xml</value>
				<value>app/mapeos/Direccion.hbm.xml</value>
				<value>app/mapeos/Editorial.hbm.xml</value>
				<value>app/mapeos/Libro.hbm.xml</value>
			</list>
		</property>

<!--         En las propiedades hemos quitado el de session a nivel de hilo porque en Hibernate 4 entra en -->
<!--              conflicto con HibernateTemplate -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.connection.pool_size">1</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.cache.provider_class">
					org.hibernate.cache.NoCacheProvider
				</prop>
			</props>
		</property>
	</bean>
	
    <!-- Para Hibernate 4 es necesario utilizar transacciones con HibernateTemplate -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Template para DAO -->
	<bean id="miTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Manager TX -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
	<!-- Leyendo otro fichero - uno con anotaciones y otro sin ellas -->
	<import resource="spring_sinanotaciones.xml" />
<!-- 	<import resource="spring_conanotaciones.xml" /> No me ha funcionado con anotaciones :S -->
	
</beans>
